.side-bar
  .side-bar__user-name
    .side-bar__user-name
      .side-bar__user-name__name
        = current_user.name
      .side-bar__user-name__icon
        = link_to new_group_path do
          %i.far.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fas.fa-cog

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__name
        = link_to '#' do
          = group.name
      .side-bar__group-list__message
        まだメッセージがありません